.appForm{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(https://www.landmarkafrica.com/img/properties/LMT/LMT4.jpg), linear-gradient(#262D60, #262D60) no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}


.head-text{
    font-family: var(--font-base);
    font-size: 2.75rem;
    font-weight: 800;
    text-align: center;
    color: #808080;
    
    span {
        color: #262D60;
    }

    @media screen and (min-width: 2000px) {
        font-size: 4rem;
    }

    @media screen and (max-width: 450px) {
        font-size: 2rem;
    }
}

.sub-head{
    font-family: var(--font-base);
    font-size: 2.3rem;
    font-weight: 800;
    text-align: center;
    color: white;
    

    @media screen and (min-width: 2000px) {
        font-size: 3rem;
    }

    @media screen and (max-width: 450px) {
        font-size: 1.8rem;
    }
}



.form-bg {
    width: 60%;
    padding: 40px;
    flex-direction: column;
    margin: 1rem 2rem;
    background: #ff8300;

    @media screen and (max-width: 550px) {
        width: 100%;
    }

    h3 {
        font-family: var(--font-base);
        font-size: 30px;
        color: black;
        font-weight: 500;
    }

    .inputBox {
        position: relative;
        width: 100%;
        margin-top: 10px;

        input{
            width: 100%;
            padding: 5px 0;
            font-size: 16px;
            margin: 10px 0;
            background: #ff8300;
            border: none;
            border-bottom: 2px solid black;
            outline: none;
            resize: none;
        }

        ::placeholder{
            position: absolute;
            left: 0;
            padding: 5px 0;
            font-size: 16px;
            
            pointer-events: none;
            transition: 0.5s;
            color: black;
        }

        :focus ::placeholder,
        :valid ::placeholder {
            color: white;
            font-size: 12px;
            transform: translateY(-20px);
        }
    }
}

button {
    height: 3rem;
    width: 6rem;
    background: #262D60;
    color: white;
    font-size: 1rem;
    text-transform: capitalize;
    border-radius: 5rem;
    cursor: pointer;
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin: 1rem 0;
   
    

    @media screen and (max-width: 450px) {
        height: 2rem;
        width: 2.6rem;
        font-size: 0.6rem;
        border-radius: 15px;
    }
    
  }

// End of First Page


// Start of  Second Page, the Table Page

.appTable{
    display: flex;
    flex-direction: column;
    gap: 10px;
 
    padding: 1rem;

    
}

table {
    border-collapse: collapse;
    width: 100%;

}

tr,td {
    border: 2px solid white;
    padding: 8px;

    font-family: var(--font-base);
    font-size: 1rem;
    text-align: left;
    line-height: 1.5;
    color: black;
    background-color: #ff8300;

    @media screen and (min-width: 2000px) {
        font-size: 1.75rem;
    }

    @media screen and (max-width: 450px) {
        font-size: 0.7rem;
    }
}

th {
    border: 2px solid white;
    padding: 8px;
    font-family: var(--font-base);
    font-size: 1.2rem;
    font-weight: 800;
    color: white;
    text-align: left;
    background-color: #262D60;

    @media screen and (min-width: 2000px) {
        font-size: 2rem;;
    }

    @media screen and (max-width: 450px) {
        font-size: 0.7rem;
    }
}


.button {
    height: 3.5rem;
    width: 15rem;
    background: #262D60;
    color: white;
    font-size: 1rem;
    text-transform: capitalize;
    border-radius: 5rem;
    cursor: pointer;
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin: 1rem 0;
}

.buttons {
    height: 3.5rem;
    width: 100%;
    background:#262D60;
    color: white;
    font-size: 1rem;
    border-radius: 5rem;
    cursor: pointer;
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin: 1rem 0;
}